html{
  margin:0;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
  font-size: 12px;
  background-color: #fafafa;
}

h1{
  margin: 0;
  font-size: 6em;
  font-weight: 800;
  text-transform: uppercase;
  color: black;
}

h1 span{
background-color: #fafafa;

}

h3{
  margin: 24px 0 0 0;
  font-size: 2em;
  font-weight: 700;
}

p{
  margin: 12px 0 0 0;
  font-size: 1.2em;
  font-weight: 400;
}

#logo{
  position: fixed;
  top: 12px;
  left: 12px;
  z-index: 10;
}

.wall{
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.wall-image{
  max-height: 70vh;
  max-width: 100%;
}

.wall-text{
  max-width: 560px;
}

.wall-heading-right{
  position: absolute;
  text-align: right;
  margin-top: -0.75em;
  top: 96px;
  right: 0;
}

.wall-heading-left{
  position: absolute;
  text-align: left;
  margin-top: -0.75em;
  top: 96px;
  left: 0;
}

a{
  cursor: pointer;
  color: black;
}

a:hover{
  opacity: 80%;
}

a.primary, a.secondary{
  display: inline-block;
  position: relative;
  margin: 24px 12px 0 0;
  padding: 12px;
  font-size: 12px;
  font-weight: 600;
  color: black;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 2px;
}

a.primary{
  color: white;
  background: #ff8c69;;
}

footer{
  text-align: center;
}


a.secondary:hover{
  color: white;
  cursor: pointer;
  opacity: 100%;
}

a.secondary::after{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: black;
  transform-origin:left;
  transition: width 0.25s ease;
  z-index:-1;
}

a.secondary:hover::after{
  width: 100%;
}

@media (min-width: 1280px) {
  body{
    width: 1192px;
    margin-left: auto;
    margin-right: auto;
  }
  .wall{
    padding: 108px 96px 108px 96px;
  }
}

@media (max-width: 1280px) and (min-width: 960px) {
  body{
    width: 912px;
    margin-left: auto;
    margin-right: auto;
  }
  .wall{
    padding: 108px 48px 108px 48px;
  }
}


@media (max-width: 960px) {

  body{
    min-width: 343px;
    padding: 0 12px 0 12px;
  }

  .wall{
    padding: 108px 12px 108px 12px;
  }

  h1{
    font-size: 40px;
  }

}
